.mb-3{
    margin: 2%;
}
#exampleInputText{
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
}
#text{
    font-size:  100px;;
}
#body{
    background-color: rgb(209, 160, 255);
}
.btn-info{
    margin-left: 42%;
    margin-top: 2%;

}
#deletAll{
    position: relative;
    margin-left: 5%;
}
#orderedList{
    margin-top: 2%;
    margin-left: 40%
    
}
#element{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    
}
#element p{
    margin-bottom: -4%;
    margin-left: 10%;
    
    
}
#element button{
    margin-left: 10%;
    margin-bottom: 5%;
     
}
#buttonAll .btn-info{
    margin-left: 65%;
    
    margin-top: -4%;
    
}
#buttonAll .btn-danger{
    margin-top: -4%;  
}
#input2{
    margin-bottom: 10%;
}
.btn-success{
    margin-top: 5%;
}
#btnDown{
    margin-top: 7%;
}